@if (surveyDetails && surveyDetails.survey) {
<div
  class="fixed inset-0 flex items-center justify-center bg-black/60 backdrop-blur-sm z-[1000]"
>
  <div
    class="bg-white w-full max-w-md p-6 rounded-lg shadow-lg relative border border-gray-300"
  >
    <div class="flex items-center justify-between mb-4">
      <h2 class="text-xl font-semibold text-gray-800">Survey Details</h2>
      <p
        class="px-2 py-1 text-sm rounded-md"
        [ngClass]="{
          'bg-green-200 text-green-800':
            surveyDetails.survey.status === 'published',
          'bg-yellow-200 text-yellow-800':
            surveyDetails.survey.status === 'draft'
        }"
      >
        {{ surveyDetails.survey.status | titlecase }}
      </p>
    </div>

    <div class="space-y-3 mt-4">
      <div class="flex justify-between gap-5">
        <span class="block text-m font-medium text-gray-900">Title:</span>
        <p class="text-m font-medium text-gray-500">
          {{ surveyDetails.survey.title }}
        </p>
      </div>

      <div class="flex justify-between gap-5">
        <span class="block text-m font-medium text-gray-900">Created At:</span>
        <p class="text-m font-medium text-gray-500">
          {{ surveyDetails.survey.createdAt | date : "medium" }}
        </p>
      </div>

      <div class="flex justify-between gap-5">
        <span class="block text-m font-medium text-gray-900"
          >Last Updated:</span
        >
        <p class="text-m font-medium text-gray-500">
          {{ surveyDetails.survey.updatedAt | date : "medium" }}
        </p>
      </div>

      <div class="flex justify-between gap-5">
        <span class="block text-m font-medium text-gray-900"
          >Number of questions:</span
        >
        <p class="text-m font-medium text-gray-500">
          {{ surveyDetails.questionsCount }}
        </p>
      </div>

      @if (surveyDetails.survey.categories.length > 0) {
      <div class="flex justify-between gap-5">
        <span class="block text-m font-medium text-gray-900">Categories:</span>
        <p class="text-m font-medium text-gray-500">
          {{ categoryNames }}
        </p>
      </div>
      } @if (surveyDetails.invitedUsersEmails.length > 0) {
      <div class="flex justify-between gap-5">
        <span class="block text-m font-medium text-gray-900">Invited:</span>
        <p class="text-m font-medium text-gray-500">
          {{ invitedUsers }}
        </p>
      </div>
      }
    </div>

    <div class="flex justify-end gap-3 mt-4">
      <button
        type="button"
        (click)="closeModal()"
        class="px-4 py-2 bg-gray-600 text-white text-sm font-medium rounded-md hover:bg-gray-700"
      >
        Close
      </button>
    </div>
  </div>
</div>
}
