@if(modal === 'create') {<app-add-survey-modal
  (close)="closeModal()"
></app-add-survey-modal
>} @if(modal === 'update') {
<app-update-survey-modal [survey]="selectedSurvey" (close)="closeModal()">
</app-update-survey-modal>
} @if(modal === 'invite') {
<app-invite-user-modal [survey]="selectedSurvey" (close)="closeModal()">
</app-invite-user-modal>
} @if(modal === 'details') {
<app-survey-details-modal
  [surveyId]="selectedSurvey?.id"
  (close)="closeModal()"
>
</app-survey-details-modal>
}

<div class="flex flex-col gap-2 items-center items-center justify-center p-6">
  <button
    (click)="openCreateModal()"
    class="px-6 py-2 bg-blue-600 text-white font-semibold rounded-lg shadow-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-400"
  >
    Add Survey
  </button>

  <table mat-table [dataSource]="surveys" matSort class="mat-elevation-z8">
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Title</th>
      <td mat-cell *matCellDef="let survey">{{ survey.title }}</td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
      <td mat-cell *matCellDef="let survey">{{ survey.status }}</td>
    </ng-container>

    <ng-container matColumnDef="questionsCount">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Questions Count</th>
      <td mat-cell *matCellDef="let survey">{{ survey.questions.length }}</td>
    </ng-container>

    <ng-container matColumnDef="createdAt">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Created At</th>
      <td mat-cell *matCellDef="let survey">{{ survey.createdAt | date }}</td>
    </ng-container>

    <ng-container matColumnDef="updatedAt">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Updated At</th>
      <td mat-cell *matCellDef="let survey">{{ survey.updatedAt | date }}</td>
    </ng-container>

    <ng-container matColumnDef="categories">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Categories</th>
      <td mat-cell *matCellDef="let survey">
        <span *ngFor="let category of survey.categories; let last = last">
          {{ category.name }}{{ !last ? ", " : "" }}
        </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let survey">
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button
            mat-menu-item
            (click)="openUpdateModal(survey)"
            [disabled]="survey.status === 'published'"
          >
            <mat-icon>edit</mat-icon> Edit
          </button>
          <button
            mat-menu-item
            (click)="openInviteModal(survey)"
            [disabled]="survey.status === 'draft'"
          >
            <mat-icon>content_copy</mat-icon> Invite
          </button>
          <button mat-menu-item (click)="openDetailsModal(survey)">
            <mat-icon>visibility</mat-icon> Details
          </button>
        </mat-menu>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
