<div
  class="fixed inset-0 flex items-center justify-center bg-black/60 backdrop-blur-sm z-[1000]"
>
  <div
    open
    class="bg-white w-full max-w-md p-6 rounded-lg shadow-lg relative border border-gray-300"
  >
    <form [formGroup]="surveyForm" (ngSubmit)="onSubmit()" class="space-y-4">
      <h2 class="text-xl font-semibold text-gray-800">
        Respond to Survey "{{ survey?.title }}"
      </h2>

      @if (isSurveyValid) {
      <div formArrayName="answers" class="space-y-4">
        @for (answer of answers.controls; track answer; let i = $index) {
        <div [formGroupName]="i" class="space-y-2">
          <div class="text-sm font-medium text-gray-700">
            {{ survey!.questions[i].question }}
          </div>
          <input
            formControlName="answer"
            placeholder="Enter your answer"
            class="mt-1 block w-full p-2 border rounded-md border-gray-300 focus:ring-indigo-500 focus:border-indigo-500"
          />
          <div
            *ngIf="
              answers.at(i).get('answer')?.invalid &&
              answers.at(i).get('answer')?.touched
            "
          >
            <small class="text-red-500 text-sm">
              Answer is required for this question.
            </small>
          </div>
        </div>
        }
      </div>
      }

      <div class="form-group">
        <label for="status" class="block text-sm font-medium text-gray-700"
          >Status</label
        >
        <select
          id="status"
          formControlName="status"
          class="mt-1 block w-full p-2 border rounded-md border-gray-300 focus:ring-indigo-500 focus:border-indigo-500"
        >
          <option value="draft">Draft</option>
          <option value="submitted">Submitted</option>
        </select>
      </div>

      <div class="flex justify-end gap-3 mt-4">
        <button
          type="submit"
          [disabled]="surveyForm.invalid || readonlyMode"
          class="px-4 py-2 bg-green-600 text-white text-sm font-medium rounded-md disabled:opacity-50 hover:bg-green-700"
        >
          Submit Response
        </button>

        <button
          type="button"
          (click)="closeModal()"
          class="px-4 py-2 bg-gray-600 text-white text-sm font-medium rounded-md hover:bg-gray-700"
        >
          Cancel
        </button>
      </div>
    </form>
  </div>
</div>
